<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container-fluid col-lg text-center jumbotron">
    <h1>Atmos</h1>
    <button [routerLink]="['/music']" class="btn btn-primary">Generate Playlist</button>
</div>

<div class="constainer-fluid col-lg">
    <img src="https://www.zdeko-puzzle.cz/10210687-37358/ctvero-rocnich-obdobi.jpg" alt="Weather conditions">
</div>